" ##	UltiSnips "
let g:UltiSnipsEditSplit="vertical"
let g:UltiSnipsSnippetsDir="~/.vim/mysnippets" " ging bei mir nur mit doppeltem Anführungszeichen "
let g:UltiSnipsExpandTrigger = "<C-d>"    "expand snippet "
let g:UltiSnipsSnippetDirectories=["UltiSnips", "mysnippets"]
let g:UltiSnipsJumpForwardTrigger = "<Tab>"  "jump to next marker in snippet "
let g:UltiSnipsJumpBackwardTrigger = "<s-Tab>" "jump to previous marker in snippet "
let g:ycm_key_invoke_completion = '<C-Space>'    " invoke ycm when it is currently not active" 
let g:ycm_key_list_select_completion = ['<C-j>'] " move down in ycm "
let g:ycm_key_list_previous_completion = ['<C-k>'] " move up in ycm "
